.main {
    position: relative;
    flex: 1;
    min-height: 100vh;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;
        padding: 20px;
        color: #585858;

        img {
            width: 40px;
            border-radius: 50px;
        }
    }
}

.main-container {
    max-width: 900px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}